.app {
  padding-left: 20px;
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.app ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.person-item {
  border: 1px solid #f4f4f4;
  flex-basis: 48%;
  margin: 1px;
  text-indent: 10px;
}

.person-item h2 {
  font-size: 16px;
}

.person-item span {
  font-weight: 100;
  margin: 0 10px;
}

.delete {
  border: none;
  background: red;
  color: #fff;
  cursor: pointer;
}

.button {
  border: none;
  padding: 8px;
  margin-right: 10px;
  background: #ff9800;
  font-size: 15px;
  color: #fff;
  border-bottom: 2px solid #db8200;
  transition: 0.2s top ease;
  outline: none;
  cursor: pointer;
}

.button:hover {
  position: relative;
  top: 2px;
  border-bottom: none;
}
